.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}

.logo2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: black;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:focus,
.menu-link:hover {
  color: #2196f3;
}
.menu-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
  color: #2196f3;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.modal-bth {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.suptitle {
  font-weight: 700;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.title-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.title-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.our-team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: #757575;
}

.footer-link-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}

.bth-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.bth-menu:focus,
.bth-menu:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.title-h1 {
  font-weight: 700d;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
